# for projects that use SCons for building: http://http://www.scons.org/
*.sconsign.dblite
*.sconsign.dbhash
*.vpl
*.rsf
pbs/
Fig/
Migrations/
Migrations2015/
HISTORY.txt
.DS_Store
*~
*.smh
*.bin
*.smh@
*.txt
*.swp
